GITHUB_OAUTH_CLIENT_ID="github_app_client_id"
GITHUB_OAUTH_CLIENT_SECRET="github_app_client_secret"
NEXT_PUBLIC_API_SERVICE="api_endpoint"
NEXTAUTH_URL="app_url"
NEXTAUTH_SECRET="next_auth_secret_generated_locally_using_openssl"