GEMINI_API_KEY="gemini_key"
GITHUB_APP_ID="github_app_id"
GITHUB_PRIVATE_KEY="github_app_private_key"
GITHUB_WEBHOOK_SECRET="github_app_webhook_secret"
UPSTASH_REDIS_REST_TOKEN="upstash_key"
UPSTASH_REDIS_REST_URL="https://your_domain.upstash.io"
GITHUB_OAUTH_CLIENT_ID="github_app_client_id"
GITHUB_OAUTH_CLIENT_SECRET="github_app_client_secret"
GITHUB_TOKEN="github_personal_token"
WORKER_MODE="local"